body {
  background-color: #eaf6f6;
}

h1 {
  color: #00909e;
}

h3 {
  color: #66bfbf;
}

hr {
  border: dotted #dbdbdb;
  border-width: 5px 0 0 0;
  /* border-top-width: 4px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0; */
  /* border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px; */
  width: 5%;
}
